/**
* -------------
* Global Styles
* -------------
*/
.header-title {
margin:8px 0;
padding: 15px;
font-size: 88px;
background-color: #fcce00bd;
color: #ffffff;
text-align: center;
font-weight: 900;
line-height: 1;
}

.header-subtitle {
margin:8px 0;
padding: 15px;
font-size: 38px;
background-color: #ff6b00bd;
color: #ffffff;
text-align: center;
font-weight: 900;
line-height: 1;
}


.header-stripe {
margin:8px 0;
}

.header-stripe--red{
height: 32px;
background-color: #e02020bd;
}

.header-stripe--purple{
height: 16px;
background-color: #b620e0bd;
}

.header-stripe--blue{
height: 8px;
background-color: #6236ffbd;
}
body {

}

p, li, textarea, label, input, select {
  /* Default font size and line height */
}

h3 {
  /* Default font, size, and margins */
}

h4 {
  /* Default font, size, and margins */
}

h5 {
  /* Default font, size, and margins */
}

h6 {
  /* Default font, size, and margins */
}


a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}


/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/
