/**
* -------------
* Global Styles
* -------------
*/

.header-title {
margin:8px 0;
padding: 15px;
font-size: 88px;
background-color: #fcce00bd;
color: #ffffff;
text-align: center;
font-weight: 900;
line-height: 1;
}

.header-subtitle {
margin:8px 0;
padding: 15px;
font-size: 38px;
background-color: #ff6b00bd;
color: #ffffff;
text-align: center;
font-weight: 900;
line-height: 1;
}

.header-stripe {
margin:8px 0;
}

.header-stripe--red{
height: 32px;
background-color: #e02020bd;
}

.header-stripe--purple{
height: 16px;
background-color: #b620e0bd;
}

.header-stripe--blue{
height: 8px;
background-color: #6236ffbd;
}
body {

}

p, li, textarea, label, input, select {
  /* Default font size and line height */
}

img {

}
.bigtitle {
color: #231F20;
font-size: 40px;
text-align: center;
}

.block{
display : flex;
justify-content: space-around;
align-items: stretch;
}

.colonne{
flex-basis: 0;
flex-grow: 1;
}

.titre-paragraphe{
width: 640px;
height: 33px;
margin: 0 31px 34px 0;
font-size: 24px;
font-weight: bold;
text-align: center;
}

.ordinateur-1{
width: 487px;
height: 471px;
}

.paragraphe1{
width: 640px;
height: 345px;
margin: 34px 31px 30px 0;
font-size: 16px;
text-align: justify;
}

.bouton-1{
width: 185px;
height: 48px;
margin: 30px 31px 22px 455px;
padding: 10px 36px;
border-radius: 15px;
border: solid 4px;
color: #fcce00bd;
}

.ordinateur-2{
width: 378px;
height: 486px;
}

.paragraphe2{
width: 640px;
height: 184px;
margin: 32px 14px 32px 32px;
font-size: 16px;
text-align: justify;
}

.bouton-2{
width: 185px;
height: 48px;
margin: 30px 31px 22px 455px;
padding: 10px 36px;
border-radius: 15px;
border: solid 4px;
color: #ff6b00bd;
}

 .footer {
color: #ffffff;
}

h4 {
  /* Default font, size, and margins */
}

h5 {
  /* Default font, size, and margins */
}

h6 {
  /* Default font, size, and margins */
}


a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}


/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/
